#Header set Access-Control-Allow-Origin "*"

AddDefaultCharset utf-8
RewriteEngine on
RewriteCond $1 !^(index\.php|favicon.ico|robots\.txt|assets|apiexplorer|no_subir)
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
